<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <h1 class="text-center text-dark mb-5 shadow border-bottom">All Products</h1>
    <div class="row">
        <div th:each="product : ${products}" >
            <div class=" col-3 p-3" style="">
                <div class="card" style="width: 18rem;">
                    <div th:if="${!product.getImages().isEmpty()}">
                        <img th:src="${product.getImages().get(0).getImageUrl()}" alt="ProductImage" src="" th:width="280" th:height="280">
                    </div>
                    <!--            <% if product.images.attached? && controller_name != 'carts'%>-->
                    <!--            <%= image_tag(product.images[0], size: 300, class:"card-img-top") %>-->
                    <!--            <% end %>-->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.productName}"></h5>
                        <p class="card-text" th:text="${product.price}">Rs. </p>
                                            <div>
                        <!--                        <% if controller_name == 'products' && action_name == 'all_products' %>-->
                                                <a th:href="@{/products/{id}(id = ${product.id})}" class= "btn btn-sm btn-outline-dark w-100 mt-2 shadow">Show</a>
                        <!--                        <%= link_to 'Show', product, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" %>-->
                        <!--                        <%= link_to 'Add to Basket', add_to_cart_path(product.id),remote: true, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow", method: :post unless @cart.include?(product) %>-->
                        <!--                        <%= link_to 'Remove from Basket',  remove_from_cart_path(product),remote: true, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" , method: :delete if @cart.include?(product)%>-->
                        <!--                        <% elsif controller_name == 'products' && action_name == 'index' %>-->
                        <!--                        <%= link_to 'Show', product, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" %>-->
                                                <a th:href="@{/products/{id}/edit(id = ${product.id})}" class="btn btn-sm btn-outline-dark w-100 mt-2 shadow">Edit</a>
<!--                                                <%= link_to 'Edit', edit_product_path(product), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" if policy(product).update? %>-->
                        <!--                        <%= link_to 'Destroy', product_path(product), class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow", method: :delete, data: { confirm: 'Are you sure?' } if policy(product).destroy? %>-->
                        <!--                        <% elsif controller_name == 'carts' %>-->
                        <!--                        <p>Quantity <%= session[:cart][product.id.to_s]%></p>-->
                        <!--                        <%= form_with url: update_quantity_cart_url(product), method: :put , remote: true do |form| %>-->
                        <!--                        <%= form.number_field :quantity , value: session[:cart][product.id.to_s], min: 1, size: 2  %>-->
                        <!--                        <%= form.submit "Update Quantity", class: "w-100 mt-2"  %>-->
                        <!--                        <% end  %>-->
                        <!--                        <%= link_to 'Show', product, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" %>-->
                        <!--                        <%= link_to 'Remove from Basket',  remove_from_cart_path(product),remote: true, class: "btn btn-sm btn-outline-dark w-100 mt-2 shadow" , method: :delete if @cart.include?(product)%>-->
                        <!--                        <% end %>-->
                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>